*{
    padding: 0;
    margin: 0;
}

//class's && id's
//Tir_header :for main header section grey backround
//header_logo :for logo inside main header section {TRIGNAL}
//header_dno :for dynamic navigation options {dno}

.Tir_header{
    height: 3.1em;
    background-color: grey;
    display: grid;
    align-items: center;
    justify-items:center;
    grid-template-columns: 2fr 5fr;
    .header_logo{
        font-weight: 700;
    }
    .header_dno{
        border: 1px solid black;
        width: 4em;
        height: 1.5em;
        border-radius: 1em;
        transition: 0.4s;
        position: relative;
        
    }
    .header_dno:hover{
        width: 10em;
    }
}

//for desktop view
@media only screen and (min-width: 900px){
    .Tir_header{
        grid-template-columns: 3fr 6fr;
        
    }
    .header_dno{
        background: #834141;
        left: 35%;

    }
}